---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Semmelweisklinik • Klinik unter Palmen 2025">
  <div class="page-wrapper">
    <div class="content container-narrow">

      <h1 class="hero-title">SOMMERFEST 2025</h1>
      <img class="mt-50 full-width-image" src="/images/program/sommerfest-2025/Coverbild_250726_SWK_Sommerfest_c_Johanna_Lea_Lassnig-69.jpg" alt="Sommerfest 2025">

      <p class="mt-50">
        25. Juli 2025. Es ist ein einzigartiger Anblick: aus dem alten Gebäude im Wiener Bezirk Währing ziehen sich 10 Kilometer spinnwebartige, elastisch-schwebende Silikonschläuche quer durch den ehrwürdigen Park der ehemaligen Semmelweisklinik. Wo einst Stille zelebriert wurde, um werdende Mütter und Kranke zu schonen, herrscht dieses Wochenende emsiges Treiben auf dem Gelände und im Haus 4 der ehemaligen Frauen- und Geburtsklinik. Bereits zum dritten Mal lädt das Kunst- und Kulturzentrum Semmelweisklinik zum Feiern ein, heuer zum ersten Mal mit einem abwechslungsreichen Programm über zwei Tage.
      </p>
      <p class="mt-20">
        Und das Sommerfest ist ein voller Erfolg. Glitzerleoparden und andere zu Fabelwesen geschminkte Kinder spielen Tischtennis oder Minigolf zwischen den alten Bäumen. Auf der Hauptbühne im Freien tummeln sich als Schwammerln verkleidete Artist:innen; das Variété-, Literatur- und Musikprogramm mit Künstler:inen und Bands aus Österreich bietet Unterhaltung aller Art, Zauberer und Clowns bringen jung und alt zum Lachen. T-Shirts werden bedruckt, es wird gesungen, gegessen und in bunten Hängematten gefaulenzt. Kleine Besucher:innen tummeln sich im Bällebad oder schwingen auf den Silikonschlauchnetzen, welche zwischen die Bäume gespannt sind. Im Park findet sich ein Skulpturengarten, und ein paar Bäume daneben ein Kasperle-Theater zum Thema Menschenrechte. Besucher:innen erfrischen sich bei Getränke- und Essensstanderln, gegenüber laden bunte Gewänder und Bilder aus dem Kost-Nix-Laden zum Stöbern ein. Kinder hüpfen und liegen auf bunt bewebten alten Bettfedern und Kissen, im Solikühlschrank wartet wie immer geschenkte und brauchbare Verpflegung für Künstler:innen und Öffentlichkeit. Es ist offensichtlich: In der Semmelweisklinik wird Kreislaufwirtschaft großgeschrieben.
      </p>

      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250726_SWK Sommerfest_c_Elisabeth Blum_171.jpg" alt="Sommerfest Impressionen">

      <p class="mt-20">
        Und auch im Haus gibt es an diesem Wochenende einiges zu entdecken. Betritt man die ehemalige Waschküche mit den imposanten, acht Meter hohen Wänden, taucht man ein in eine Installation aus Eis, Sound und Videoprojektionen. Einst wurden hier fleißig Arbeitskleidung und Bettlaken gekocht und gemangelt, doch an diesen beiden Tagen herrscht ruhiges Zwielicht, um die Arbeiten und interaktiven Performances der Künstler:innen bestmöglich zur Geltung zu bringen.
      </p>
      <p class="mt-20">
        Es sind zwei Tage voller Überraschungen und schöner Momente für die circa 750 Besucher:innen, die trotz angekündigten Regens im Haus und im Park auf Entdeckungsreise gehen. Das Sommerfest ist ein absoluter Gewinn für die Nachbarschaft und alle Kunstinteressierte, die dieses Kulturangebot gerne in Anspruch nehmen.
      </p>
      <p class="mt-20">
        Seit drei Jahren gibt es den Verein in der Semmelweisklinik nun. Auf rund 3.800 qm Fläche arbeiten hier Künstler:innen aus aller Welt. Vertreten sind dabei mehrere Generationen und unterschiedliche künstlerische Disziplinen: von Malerei, Fotografie und Tanz über Gesang bis hin zu Performance, Musik und Installation.
      </p>

      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250726_SWK_Sommerfest_c_Johanna_Lea_Lassnig-113.jpg" alt="Sommerfest Impressionen">

      <p class="mt-20">
        Aktuell teilen sich über 110 Künstler:innen und Kulturakteur:innen 40 Atelierräume im Haus. Und die Zahl wächst: Neben den festen Mitgliedern bereichern zahlreiche weitere Menschen punktuell die Hausprojekte und gestalten aktiv mit. Denn auch ohne eigenes Atelier ist eine Beteiligung möglich.
      </p>
      <p class="mt-20">
        Von Anfang an war es dem Verein wichtig, einen offenen Ort zu schaffen – für alle, die sich einbringen wollen. Gerade in herausfordernden Zeiten braucht es Räume, in denen Gesellschaft zusammenkommt, Selbstwirksamkeit erfahrbar wird, gemeinsames Gestalten möglich ist und Verantwortung übernommen werden kann. Denn nur so lässt sich gesellschaftlicher Wandel aktiv mitgestalten.
      </p>
      <p class="mt-20">
        "Das Engagement und die Motivation, um Kunst und Kunstinitiativen zu schaffen sind bei allem Mitwirkenden vorhanden. Von diesem Mehrwert profitieren nicht nur wir als Künstler und Künstlerinnen, sondern auch das Umfeld. Was wir dafür brauchen, sind leistbare Räumlichkeiten."<br>
        - Pia Wolkenstein
      </p>
      <p class="mt-20">
        "Was uns von Anfang an verbunden hat, war die Liebe zu diesem Haus, und die gemeinsame Vision, hier Neues ausprobieren und viele Menschen zusammenbringen zu können. An einem Tag so wie heute spüren wir alle, dass diese Vision Realität geworden ist. Das macht glücklich und gibt Mut zum Weitermachen."<br>
        - Nathalie Frickey
      </p>

      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250725_SWK Sommerfest_c_Elisabeth Blum_70.jpg" alt="Sommerfest Impressionen">

      <p class="mt-20">
        Das Sommerfest ist für dieses Jahr zu Ende, doch wir haben noch viel vor. Am 14. September sind die nächsten Open Studios geplant, wo Künstler:innen der Semmelweisklinik ihre Ateliers und Werkstätten öffnen und interessierte Besucher:innen empfangen. Die genauen Uhrzeiten finden sich auf unseren <a href="https://www.instagram.com/semmelweisklinik/" target="_blank" rel="noopener noreferrer">Social Media Kanälen</a> und auch <a href="/de/calendar">hier auf der Website</a>. Come in and find out.
      </p>
      <p class="mt-20">
        Wir bedanken uns bei allen, die dieses Fest möglich machten. Das sind neben den vielen Künstler:innen und unserem Organisations-Team die vielen weiteren helfenden Hände. Sie sind mit ihrem ungebrochenen ehrenamtlichen Engagement ein gutes Beispiel dafür, was das Kunst- und Kulturzentrum Semmelweisklinik ausmacht: Kreativität, Durchhaltevermögen und viel Teamgeist. Danke, danke, danke!
      </p>

      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250725_SWK Sommerfest_c_Elisabeth Blum_29.jpg" alt="Sommerfest Impressionen">

      <div class="partner-logos mt-40">
        <img class="partner-logo" src="/images/LOGO_1.jpg" alt="Partner Logo">
        <img class="partner-logo" src="/svg/LOGO_2.svg" alt="Partner Logo">
      </div>

      <p class="mt-40">
        Rückfragen für Presse und Interessierte:<br>
        <a href="mailto:info@semmelweisklinik.at">info@semmelweisklinik.at</a>
      </p>

      <div class="divider"></div>

      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250725_SWK Sommerfest_c_Elisabeth Blum_167.jpg" alt="Sommerfest Galerie">
      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250725_SWK_Sommerfest_c_Johanna_Lea_Lassnig-80.jpg" alt="Sommerfest Galerie">
      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250726_SWK Sommerfest_c_Elisabeth Blum_166.jpg" alt="Sommerfest Galerie">
      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250726_SWK Sommerfest_c_Elisabeth Blum_174.jpg" alt="Sommerfest Galerie">
      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/250726_SWK_Sommerfest_c_Johanna_Lea_Lassnig-5.jpg" alt="Sommerfest Galerie">
      <img class="mt-30 full-width-image" src="/images/program/sommerfest-2025/Startseite_250726_SWK_Sommerfest_c_Johanna_Lea_Lassnig-141.jpg" alt="Sommerfest Galerie">

    </div>
  </div>
</BaseLayout>
