---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Semmelweisklinik • Collective reflections on AI, Art & Culture">
  <div class="page-wrapper">
    <div class="content container-narrow">

      <h1 class="hero-title">WORKSHOP SERIES</h1>
      <img class="mt-50 full-width-image" src="/images/program/collective-reflections-ai-art-culture/collective_reflections_on_ai_art_culture.png" alt="Collective Reflections on AI, Art & Culture">

      <p class="mt-50">
        A six-part workshop series exploring the intersection of creativity and AI through a <b>critical and interdisciplinary lens</b>. It fosters dialogue between artists and scientists, encouraging reflection on the role of AI in the arts.
      </p>
      <p class="mt-20">
        The workshops offer <b>technical skills, creative tools and theoretical input</b>, empowering participants to shape and question how AI is used in artistic practice.
      </p>
      <p class="mt-20">
        <b>Open to all</b>, regardless of background or prior experience.
      </p>
      <p class="mt-20">
        Curated by Joanna Zabielska<br>
        Concept & Organization by Frederik Marroquín
      </p>
      <img class="mt-20 logo-small" src="/svg/LOGO_6.svg" alt="Workshop Series Logo">

      <!-- Workshop 1 -->
      <div class="divider"></div>
      <h2>
        1.<br>
        Becoming Chimeric: Augmented Reality, AI and the Glitch<br>
        Workshop with Martina Menegon
      </h2>
      <h2 class="mt-10">
        24.5.25 | Hybridroom, 1st Floor
      </h2>
      <p class="mt-10">
        <a href="/pdf/01_Collective_Reflections_Becoming_Chimeric_Menegon.pdf">
          Download the full handbook here
        </a>
      </p>
      <p class="mt-20">
        This workshop explores glitched identity and chimeric transformation within hybrid and augmented realities. Through an introduction to Martina Menegon's artistic practice and selected contemporary examples, participants will examine Extended Reality as a medium for reimagining the self and the body. Participants will explore digital and AI tools to generate virtual avatars, sculptural forms and augmented presences. Through glitch, layering and embodiment as expressive strategies, AI-generated content will be transformed into personal and critical works. Together, we will reflect on the redefinition of the self and explore hybrid, glitched, chimeric "other realities" and "other identities" through the lens of Augmented Reality, with AI algorithms as collaborators.
      </p>
      <div class="picture-next-to-text mt-20">
        <div>
          <img class="workshop-portrait" src="/images/program/collective-reflections-ai-art-culture/02_Portrait_Martina_Menegon.jpg" alt="Martina Menegon">
          <p class="text-12">Photo courtesy by Martina Menegon</p>
        </div>
        <div>
          <p>
            Martina Menegon (she/her) is an artist, researcher, curator and educator based in Vienna and cyberspace. Her practice explores the contemporary self and its hybrid, chimeric corporeality through intimate and complex assemblages of physical and virtual elements. Using (and misusing) game engines, algorithms and the virtual, she experiments with performative and glitched self-portraitures to create uncanny, interactive and disorienting experiences.
          </p>
          <div class="social-link-row mt-10">
            <img class="icon-small" src="/svg/link.svg" alt="Link">
            <p><a href="https://www.martinamenegon.xyz" target="_blank" rel="noopener noreferrer">Website</a></p>
          </div>
        </div>
      </div>

      <!-- Workshop 2 -->
      <div class="divider"></div>
      <h2>
        2.<br>
        Stitching Neuro Coding: AI & Cyber <i>Wearable</i> Textile Workshop<br>
        Workshop with Almagul Menlibayeva
      </h2>
      <h2 class="mt-10">
        1.6.25 | Hybridroom, 1st Floor
      </h2>
      <p class="mt-20">
        Where tradition meets technology - weaving futures through AI and handcraft. "Stitching the Digital" is an experimental workshop exploring the intersection of artificial intelligence and textile art. Participants will engage with AI-generated imagery, traditional stitching and recycled materials to create cyber textiles that embody memory, identity and speculative futures.
      </p>
      <div class="picture-next-to-text mt-20">
        <div>
          <img class="workshop-portrait" src="/images/program/collective-reflections-ai-art-culture/03_Portrait_Almagul_Menlibayeva.jpg" alt="Almagul Menlibayeva">
          <p class="text-12">Photo courtesy by Almagul Menlibayeva</p>
        </div>
        <p>
          Almagul Menlibayeva creates immersive multi-channel video, photography, and mixed-media installations, blending cyber textiles and AI technologies. Her work reinterprets genres through feminist and post-colonial perspectives, reclaiming Eurasian nomadic and indigenous mythologies as vital expressions of collective memory and resistance. Central to her practice is the exploration of environmental degradation and the legacies of socialist modernity in Central Asia. Menlibayeva has exhibited internationally, including at the Venice, Sydney, Sharjah and Thailand Biennales. Her recent project includes a multi-channel video installation on the Kazakh Famine at the 2023 Sharjah Biennale. She will be featured in the upcoming Ulaanbaatar Biennale. A solo exhibition is scheduled for 2025 at the Almaty Museum of Arts (AMA).
        </p>
      </div>

      <!-- Workshop 3 -->
      <div class="divider"></div>
      <h2>
        3.<br>
        Tactile Agency: Rethinking Consent through Embodied AI Prototyping<br>
        Workshop with Patrícia J. Reis
      </h2>
      <h2 class="mt-10">
        7.6.25 | Movement Room, Ground Floor
      </h2>
      <p class="mt-10">
        <a href="/pdf/03_Collective_Reflections_Tactile_Angency_Reis.pdf">
          Download the full handbook here
        </a>
      </p>
      <p class="mt-20">
        This hands-on workshop explores the ethical, emotional and sensory dimensions of AI-driven human-machine interaction. Participants will engage with simple AI models and DIY touch-responsive interfaces using Arduino and open-source machine learning tools to examine how consent, agency and embodiment can be both problematic and reimagined within technological systems. By building interactive prototypes and experimenting with real-time feedback, the workshop invites critical reflection on intimacy, power and the politics of touch in today's technosphere. Beginners are also welcome; no prior experience is required.
      </p>
      <div class="picture-next-to-text mt-20">
        <div>
          <img class="workshop-portrait" src="/images/program/collective-reflections-ai-art-culture/04_PatriciaJoaoReis.jpg" alt="Patrícia J. Reis">
          <p class="text-12">Photo credits: Claudia Romero</p>
        </div>
        <div>
          <p>
            Patrícia J. Reis is a media artist and researcher exploring human and more-than-human entanglements with technology through feminist hacking, sensory interaction and embodied interfaces. Her work investigates touch, consent and care via physical computing and haptic art. She leads Hacking the Body as the Black Box (Elise-Richter-Programm) at the University of Applied Arts Vienna, where she also lectures in Digital Arts since 2015.
          </p>
          <div class="social-link-row mt-10">
            <img class="icon-small" src="/svg/link.svg" alt="Link">
            <p><a href="https://www.instagram.com/patricia_j_reis/" target="_blank" rel="noopener noreferrer">Instagram</a></p>
          </div>
        </div>
      </div>

      <!-- Workshop 4 -->
      <div class="divider"></div>
      <h2>
        4.<br>
        Reflection & Connecting Session / Bring your Project!<br>
        With Eugenia Stamboliev, Martina Menegon, Joanna Zabielska & Frederik Marroquín
      </h2>
      <h2 class="mt-10">
        21.6.25 | Movement Room, Ground Floor
      </h2>
      <p class="mt-20">
        We warmly invite you to an evening of reflection, conversation and connection. This gathering is a space to explore some of the key themes from our recent workshops – such as AI & Art, bias, consent and manual labor – together with our amazing facilitators and a community of curious minds. No worries if you haven't joined the workshops yet – this session is open to everyone. It's also a chance to bring your own questions, perspectives or projects related to AI & Art. If you'd like to share your research, artwork or a work-in-progress – whether it's your Chimera, Textile, Arduino experiment from the last sessions or your own project – just let us know in your registration mail. We'd love to include your contribution in this intimate and supportive space.
      </p>
      <p class="mt-20">
        You'll also get to meet Eugenia (Talking AI ethics, entangled authorships and the pitfalls of uncreative data slop) and get a first preview of her upcoming workshop in September, connect with Martina (Becoming Chimeric: Augmented Reality, AI and the Glitch) and hear contributions from Patricia (Tactile Agency: Rethinking Consent through Embodied AI Prototyping), Alma (Stitching Neuro Coding: AI & Cyber Wearable Textile Workshop) and Paola (Beyond Evil Algorithms. How to Critique AI?). Together, we'll create a dynamic conversation that invites reflection and exchange across different practices and ideas.
      </p>

      <!-- Workshop 5 -->
      <div class="divider"></div>
      <h2>
        5.<br>
        Talking AI ethics, entangled authorships and the pitfalls of uncreative data slop<br>
        Workshop with Eugenia Stamboliev
      </h2>
      <h2 class="mt-10">
        7.9.25 | Hybridroom, 1st Floor
      </h2>
      <p class="mt-10">
        <a href="/pdf/05_Collective_Reflections_Art_ificial_Ethics_Stamboliev.pdf">
          Download the full handbook here
        </a>
      </p>
      <p class="mt-20">
        In a post-digital landscape increasingly shaped by generative technologies like AI, we need to newly interrogate the ethical and creative implications. The workshop aims to provoke a critical dialogue around the entangled roles of humans, machines and institutions. Rather than accepting dominant narratives that frame AI as autonomous, creative, neutral or unavoidable, we will ask and explore questions like: What is really new or creative in AI? Who authors AI-generated work and does this matter? And what are differences to other forms of creating, thinking and producing prior to AI? To whom does the label 'creative' even matter today?
      </p>
      <p class="mt-20">
        Participants will also hear about AI narratives, aesthetic regimes, systemic biases and corporate power. The goal is to better understand the ethical vacuums and concerns surrounding current debates on AI. Through collaborative analysis, speculative exercises and hands-on critique, we will unpack the illusion of machine creativity and confront problems and simplifications, which are often hidden beneath the glossy mask of AI as an author or creative agent.
      </p>
      <p class="mt-20">
        This workshop is not a tutorial on how to use AI tools nor a "best of" ethics, but it is an invitation to discuss and challenge the good, the bad and the ugly around the rise of technologies like AI.
      </p>
      <div class="picture-next-to-text mt-20">
        <div>
          <img class="workshop-portrait" src="/images/program/collective-reflections-ai-art-culture/05_Portrait_Eugenia_Stamboliev.jpg" alt="Eugenia Stamboliev">
          <p class="text-12">Photo courtesy by Eugenia Stamboliev</p>
        </div>
        <div>
          <p>
            Dr. Eugenia Stamboliev is a postdoctoral researcher at University of Vienna, a visiting professor at the Technical University Cottbus and a board member of Women in AI Austria. She explores ethical, political, and media structures related to Artificial Intelligence (AI) or decentralised systems, focusing on democracy, gender equality and distrust. Previous to her (ethical) academic career, she graduated from the University of Arts Berlin and worked for digital arts galleries and various arts journals.
          </p>
          <div class="social-link-row mt-10">
            <img class="icon-small" src="/svg/link.svg" alt="Link">
            <p><a href="https://bsky.app/profile/eugeniaunivie.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a></p>
          </div>
          <div class="social-link-row mt-10">
            <img class="icon-small" src="/svg/link.svg" alt="Link">
            <p><a href="https://www.linkedin.com/in/eugenia-stamboliev-8383a059/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
          </div>
        </div>
      </div>

      <!-- Workshop 6 -->
      <div class="divider"></div>
      <h2>
        6.<br>
        Beyond Evil Algorithms. How to Critique AI?<br>
        Workshop with Paola Lopez
      </h2>
      <h2 class="mt-10">
        13.9.25 | Hybridroom, 1st Floor
      </h2>
      <p class="mt-10">
        <a href="/pdf/06_Collective_Reflections_Beyond_Evil_Algorithms_Handbook_Lopez.pdf">
          Download the full handbook here
        </a>
      </p>
      <p class="mt-20">
        What is AI - and how do we form well-grounded critique? This workshop provides an accessible, easy-to-understand introduction to Artificial Intelligence for everyone who is interested, but does not know where to start. In the workshop, we will dive into the differences between the concepts: algorithms, AI systems, data-driven systems, Machine Learning, Deep Learning and Generative AI. Then, as AI systems are data-based, we will take a closer look at data as a phenomenon and what critique of the datafied society can look like. Further, we will explore what is "new" about AI and what has been there for a very long time. Although everyone talks about "the" artificial intelligence, there are two fundamentally different types of AI. Each type brings its own characteristic risks: Taking up this facet as well, we differentiate between individual risks on a smaller scale and systemic risks on a larger scale. After diving into the basics of AI systems - and what it takes to produce them - workshop participants will be able to build their own forms of critique, navigate the current discourse and look beyond the hype.
      </p>
      <div class="picture-next-to-text mt-20">
        <div>
          <img class="workshop-portrait" src="/images/program/collective-reflections-ai-art-culture/01_Portrait_Paola_Lopez.jpg" alt="Paola Lopez">
          <p class="text-12">Photo courtesy by Paola Lopez</p>
        </div>
        <p>
          Paola Lopez is a mathematician. In her interdisciplinary PhD thesis, she examines social implications of AI systems, questions of (in)justice, bias, and institutional power. Her publications include work on the Austrian "AMS algorithm". She is a researcher at the Computer Science Department at the University of Bremen and an associate researcher in the research group "Technology, Power and Domination" at the Weizenbaum Institute in Berlin. She enjoys teaching, e.g., at the University of Basel and at the Akademie der bildenden Künste. She writes the "KI-Kolumne" for the German magazine Merkur.
        </p>
      </div>

      <!-- Pictures -->
      <div class="divider"></div>

      <img class="mt-30 full-width-image" src="/images/program/collective-reflections-ai-art-culture/01_250601-SWK-AI-Workshop-Stitching-Neuro-Coding-c-Johanna-Lea-Lassnig-7.jpg" alt="Workshop Impressions">
      <img class="mt-30 full-width-image" src="/images/program/collective-reflections-ai-art-culture/02_250601-SWK-AI-Workshop-Stitching-Neuro-Coding-c-Johanna-Lea-Lassnig-27.jpg" alt="Workshop Impressions">
      <img class="mt-30 full-width-image" src="/images/program/collective-reflections-ai-art-culture/03_250601-SWK-AI-Workshop-Stitching-Neuro-Coding-c-Johanna-Lea-Lassnig-21.jpg" alt="Workshop Impressions">
      <img class="mt-30 full-width-image" src="/images/program/collective-reflections-ai-art-culture/04_250607-SWK-AI-Workshop-Tactile-Agency-c-Johanna-Lea-Lassnig-15.jpg" alt="Workshop Impressions">
      <img class="mt-30 full-width-image" src="/images/program/collective-reflections-ai-art-culture/05_250607-SWK-AI-Workshop-Tactile-Agency-c-Johanna-Lea-Lassnig-21.jpg" alt="Workshop Impressions">

    </div>
  </div>
</BaseLayout>
