---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Semmelweisklinik • Program">
  <div class="page-wrapper">
    <div class="content container-wide">
      <h1 class="hero-title">PROGRAM</h1>

      <div class="grid-2col mt-50">
        <div class="grid-2col-item">
          <a href="/en/program/sommerfest-2025" class="naked-link">
            <img
              class="grid-2col-image program-image"
              src="/images/program/sommerfest-2025/Coverbild_250726_SWK_Sommerfest_c_Johanna_Lea_Lassnig-69.jpg"
              alt="Sommerfest 2025"
            />
          </a>
          <p class="only-desktop text-32">Klinik unter Palmen 2025</p>
          <p class="only-mobile text-28">Klinik unter Palmen 2025</p>
          <p>
            A review of our summer festival (25-26 July 2025)<br />
            <a href="/en/program/sommerfest-2025">Learn more</a>
          </p>
        </div>

        <div class="grid-2col-item">
          <a href="/en/program/collective-reflections-ai-art-culture" class="naked-link">
            <img
              class="grid-2col-image program-image"
              src="/images/program/collective-reflections-ai-art-culture/collective_reflections_on_ai_art_culture-title.jpg"
              alt="Collective Reflections on AI, Art & Culture"
            />
          </a>
          <p class="only-desktop text-32">Collective reflections on AI, Art & Culture</p>
          <p class="only-mobile text-28">Collective reflections on AI, Art & Culture</p>
          <p>
            A six-part workshop series exploring the intersection of creativity and AI (May-September 2025)<br />
            <a href="/en/program/collective-reflections-ai-art-culture">Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
