---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Semmelweisklinik • Data Protection">
  <div class="page-wrapper">
    <div class="content container-narrow">
      <h1 class="hero-title">DATA PROTECTION</h1>

      <p class="mt-50">
        <em>Note: As required by Austrian law, this data protection policy (Datenschutzerklärung) is provided in German.</em>
      </p>

      <h2 class="mt-50 text-26">Verantwortlicher</h2>
      <p class="mt-20" style="word-break: break-all;">
        Fabian Dietrich<br />
        Hockegasse 37/4<br />
        1180 Wien<br />
        fabian.dietrich@semmelweisklinik.at
      </p>

      <h2 class="mt-50 text-26">Arten der verarbeiteten Daten</h2>
      <p class="mt-10">Meta-, Kommunikations- und Verfahrensdaten (IP-Adressen)</p>
      <p class="mt-10">Seiten-URL (Adresse der besuchten Seite)</p>
      <p class="mt-10">HTTP-Referrer (von welcher Website der Besucher kommt)</p>
      <p class="mt-10">Browser, Betriebssystem, Gerätetyp (welches Gerät, Betriebssystem und welchen Browser der Besucher verwendet)</p>
      <p class="mt-10">Land, Region, Stadt (geografischer Ort in Verbindung mit der IP-Adresse des Besuchers)</p>
      <p class="mt-10">Email-Adresse (im Rahmen einer optionalen Newsletter-Anmeldung)</p>

      <h2 class="mt-50 text-26">Kategorien betroffener Personen</h2>
      <p class="mt-10">Besucher der Webseite</p>
      <p class="mt-10">Newsletter-InteressentInnen</p>

      <h2 class="mt-50 text-26">Zwecke der Verarbeitung</h2>
      <p class="mt-10">Bereitstellung des Onlineangebotes und Nutzerfreundlichkeit</p>
      <p class="mt-10">Information über relevante Neuigkeiten in Bezug auf den Kunst- und Kulturverein Semmelweisklinik</p>
      <p class="mt-10">Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und technischen Geräten)</p>

      <h2 class="mt-50 text-26">Rechtsgrundlagen</h2>
      <p class="mt-10">
        Berechtigte Interessen (DSGVO Art. 6 Abs. 1f): Die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
      </p>

      <h2 class="mt-50 text-26">Bereitstellung des Onlineangebotes und Webhosting</h2>
      <p class="mt-10">
        Wir verarbeiten ausschließlich technisch notwendige Daten von Nutzern, um diesen unsere Online-Dienste zur Verfügung stellen zu können. Zu diesem Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.
      </p>

      <h2 class="mt-50 text-26">Bereitstellung Onlineangebot auf gemietetem Speicherplatz</h2>
      <p class="mt-10">
        Für die Bereitstellung unseres Onlineangebotes nutzen wir Speicherplatz, Rechenkapazität und Software, die wir von einem entsprechenden Serveranbieter (auch "Webhoster" genannt) mieten oder anderweitig beziehen.
      </p>

      <h2 class="mt-50 text-26">Speicherung von Email-Adressen</h2>
      <p class="mt-10">
        Wir verwenden den Dienst "Brevo", um über ein Anmeldeformular auf unserer Webseite die Email-Adressen von interessierten Personen (im nachfolgenden "InteressentInnen" genannt) einzusammeln. Dies geschieht über ein Double-Opt-In Verfahren, in dem zuerst eine Einwilligung per Formular gegeben, und dann zusätzlich auch per Email die Anmeldung bestätigt werden muss. Somit ist sichergestellt, dass alle der gespeicherten Email-Adressen mit dem Konsent der jeweiligen InteressentInnen gesammelt werden.
      </p>
      <p class="mt-10">
        Wir sammeln keine weiteren Daten (nicht einmal die Namen der InteressentInnen). Wir verwenden die Email-Adressen nur für den angegebenen Zweck (Informationsweitergabe über Neuigkeiten in Bezug auf den Kunst- und Kulturverein Semmelweisklinik und dessen Aktivitäten). Ein/e InteressentIn die/der sich bei uns angemeldet hat, kann jederzeit über einen Link in der Newsletter-Email seine/ihre Anmeldung löschen, um in Zukunft keine weiteren Emails mehr zu erhalten. Zudem kann ein/e InteressentIn auch jederzeit per formloser Email an den Datenschutzbeauftragten die vollständige Löschung seiner/ihrer Daten beantragen (siehe folgender Punkt "Ihre Rechte").
      </p>

      <h2 class="mt-50 text-26">Ihre Rechte</h2>
      <p class="mt-10">
        Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der oben genannten E-Mail-Adresse oder Ihrer Datenschutzbehörde melden.
      </p>
    </div>
  </div>
</BaseLayout>
