---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Semmelweisklinik • Legal Notice">
  <div class="page-wrapper">
    <div class="content container-narrow">
      <h1 class="hero-title">LEGAL NOTICE</h1>

      <p class="mt-50">
        <em>Note: As required by Austrian law, this legal notice (Impressum) is provided in German.</em>
      </p>

      <h2 class="mt-50 text-26">Überblick</h2>
      <p class="mt-20">
        Informationspflicht laut §5 E-Commerce Gesetz, §63 Gewerbe­ordnung, §14 Unternehmens­gesetz­buch und Offen­legungs­pflicht laut §25 Mediengesetz
      </p>
      <p class="mt-20">
        Kunst- und Kulturzentrum Semmelweisklinik<br />
        Hockegasse 37, Haus 4<br />
        1180 Wien<br />
        Österreich<br /><br />
        <a href="mailto:info@semmelweisklinik.at">info@semmelweisklinik.at</a>
      </p>
      <p class="mt-20">
        Berufsbezeichnung: Verein<br />
        Verleihungsstaat: Österreich<br />
        ZVR-Zahl: 1677067623
      </p>

      <h2 class="mt-50 text-26">Copyright & Urheberrechtshinweis</h2>
      <p class="mt-20">
        Inhalte dieser Webpräsenz, insbesondere Texte, Fotografien und Grafiken, sind ur­heber­rechtlich geschützt und teil­weise lizensiert. Das Urheber­recht liegt, soweit nicht aus­drücklich anders gekenn­zeichnet, bei der im Impressum ange­führten natürlichen bzw. juristischen Person. Bitte fragen Sie uns, falls Sie die Inhalte dieses Internet­angebotes in irgendeiner Art und Weise verwenden möchten.
      </p>
    </div>
  </div>
</BaseLayout>
